@import '../../styles/variables.scss';

.button {
    background-color: $color-dark;
    border-radius: 4px;
    border: none;
    color: $color-white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.25s ease-out;

    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: $color-selected;
    }

    @media (hover: none) {
        &:hover {
            background-color: $color-dark;
        }
    }
}
