// Fade In / Out
.fade {
    &-enter {
        opacity: 0;
        transition: opacity .25s .25s ease-out;

        &-active {
            opacity: 1;
        }

        &-done {

        }
    }

    &-exit {
        opacity: 1;
        transition: opacity .25s ease-out;

        &-active {
            opacity: 0;
        }

        &-done {

        }
    }

    &-appear {
        &-active {

        }
    }
}
