@import './variables.scss';

html,
body {
    margin: 0;
    min-height: 100vh;
}

body {
    font-family: $font-main;
    color: #0ff;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h2 {
    font-weight: bold;
    color: $color-white;
    font-size: 1rem;
    // border: 1px dashed white;
}

p {
    font-weight: normal;
    color: $color-highlight;
    font-size: 0.6875rem;
    // border: 1px dashed white;
}
