.connection {
    position: absolute;
    bottom: 16px;
    right: 16px;

    i {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: green;
    }
}
