@import './styles/reset.scss';
@import './styles/variables.scss';
@import './styles/theme.scss';
@import './styles/animations.scss';

#app {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        .page {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
